  <span id="selectedYear" style="display:none;">{{selectedYear}}</span>
          
 <h2 id="year-heading" class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-3">Download data for {{selectedYear}}</h2> 
 <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Approximate file sizes (CSV)
    </span>
  </summary>
  <div class="govuk-details__text">
  <ul class="govuk-list govuk-list--bullet">
      <li>hourly data: less than 15MB</li>
      <li>daily average data: less than 5MB</li>
      <li>annual average data: less than 1MB</li>
    </ul>  </div>
</details>
             
      {% set year_selected = selectedYear %}
    
     
                 <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" id="all-p">All pollutants</h2>
 
                    <a id="download-link" href="#"  onclick = "getAPIstn_details1()" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download hourly data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>

<br>

                      <a id="download-link" href="#"  onclick = "getAPIstn_details1()" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download daily average data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>

 {% for pollutant in pollutantKeys %}
<h2 class="govuk-heading-m" id="all-p">{{pollutant}}</h2>
 
                    <a id="download-link" href="#"  onclick = "getAPIstn_details1()" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download hourly data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>

<br>

                      <a id="download-link" href="#"  onclick = "getAPIstn_details1()" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download daily average data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>

 {% endfor%}



                        </div>
                        </div>
                </div>
           

    
               <script> 
              
              let selyear;
       function updateYear(year) {
    selyear = year;
    document.getElementById('year-heading').textContent = `Download data for ${year}`;
    document.getElementById('airpollution-heading').textContent = `Air pollution levels in ${year}`;
    const currentDate = new Date();
    const formattedDate = `${currentDate.getDate()} ${currentDate.toLocaleString('default', { month: 'long' })}`;
  
    if( year === '2025' || year === 2025)
    {
 document.getElementById('duration_current').textContent = '1 January to ' + formattedDate;
 }else
 {
  document.getElementById('duration_current').textContent = '1 January to 31 December';
 }
    var links = document.querySelectorAll('.moj-sub-navigation__link');
    links.forEach(function(link) {
        link.removeAttribute('aria-current');
    });

    // Set aria-current to the clicked link
    var selectedLink = document.getElementById('link-' + year);
    if (selectedLink) {
        selectedLink.setAttribute('aria-current', 'page');
    }

    // Your existing code to handle the year selection
   
   }

// Check if there is already a selected year and set aria-current
document.addEventListener('DOMContentLoaded', () => {

    const selectedYearElement = document.getElementById('selectedYear');
    const selectedYear = selectedYearElement ? selectedYearElement.textContent : null;
    if (selectedYear) {
        updateYear(selectedYear);
    }
   
});
       

      
           async function getAPIstn_details1() {
      window.location.href = `/stationdetails/download/${selyear}`
           

       
        
}
    </script>
    {% if downloadresult %}
  <script>
    // Your JavaScript code here
   
    var downloadresult = "{{ downloadresult | safe }}";
    var url = downloadresult;
   // alert("downloadresult: " + url);
   
   window.location.href = url;
  </script>
{% endif %} 