  <div id="yeartabble">
 
  <h3 class="govuk-heading-s"> {{tabledata[0].dataVerifiedTag }}<div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about what verified means" data-toggletip-content="Data is verified when it has been checked for anomalies.">
           
             </div></h3>
             

<table id="aqitable" class="govuk-table defra-aq-levels-table govuk-!-margin-bottom-2">

<h1 class="govuk-heading-s" >{{url}} </h1>
              <thead class="defra-aq-levels-table__head">
<tr class="defra-aq-levels-table__row">
  <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--pollutant defra-aq-levels-table__cell--pollutant-title">Pollutant</th>
                
          <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--average defra-aq-levels-table__cell--average-title">Average</th>
                
         <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily defra-aq-levels-table__cell--daily-title">Daily exceedances</th>

             <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly defra-aq-levels-table__cell--hourly-title">Hourly exceedances</th>
                 
                
                
                </tr>
              </thead>
              
             
      {% for data in tabledata %}
        <tbody class="defra-aq-levels-table__body">
                    <tr class="defra-aq-levels-table__row">
        <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--pollutant">{{ data.pollutantName }}</td>
        <td  class="defra-aq-levels-table__cell defra-aq-levels-table__cell--average"> </td>
        <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily" > {{ data.dailyCount }}</td>
        <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly">{{ data.hourlyCount }}</td>
      </tr>
      {% endfor %}
    </tbody>
            </table>
            </div>