{% extends 'layouts/page.njk' %}
{% set displayBreadcrumbs = false %}
{% from "govuk/components/table/macro.njk" import govukTable %}
 {% from "govuk/components/tabs/macro.njk" import govukTabs %}
   
<script src="/path/to/govuk-frontend/govuk/all.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      window.GOVUKFrontend.initAll();
    });
    
       
        
    
  </script>
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1">{{stationdetails.name}}</h1>   



         <strong class="govuk-tag status-tag govuk-tag--green">
            Active
          </strong>
          <p class="govuk-body govuk-!-margin-top-3" style="margin-left: 5px; display: inline-block; color: #505a5f;">Latest at {{updatedTime}}</p>
</div>
</div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
          <dl class="defra-aq-features__list govuk-!-margin-top-3" style="gap: 40px; padding-bottom: 0px;">
            <div class="defra-aq-features__item" style="width: 35%">
              <dt class="defra-aq-features__key govuk-caption-m" style="font-size: 19px;">Monitoring network</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px; font-size: 22px;">Automatic Urban and Rural</dd>
            </div>
            <div class="defra-aq-features__item" style="width: 30%">
              <dt class="defra-aq-features__key govuk-caption-m" style="font-size: 19px;">Region</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px; font-size: 22px;">{{stationdetails.region}}</dd>
            </div>
            <div class="defra-aq-features__item" style="width: 25%">
              <dt class="defra-aq-features__key govuk-caption-m" style="font-size: 19px;">Site type</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px; font-size: 22px;">
                <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about urban traffic" data-toggletip-content="This monitoring site is in a city or town close to roads, motorways or highways.">
                 {{stationdetails.siteType}}
                  </div>
                  <p class="govuk-body govuk-!-margin-top-1"><a href={{maplocation}} class="govuk-link" target="_blank" >View on Google Maps (opens in a new tab)</a></p>
                </dd>
             
            </div>
            </dl>
            
        {% include "partials/Yearlytab.njk" %}    
         

 
{% endblock %}