{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: "",
    caption: ""
  }) }}




 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">{{pageTitle}}</h1>

    <p class="govuk-body">{{text.a}}</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{text.b}}</li>
      <li>{{text.c}}</li>
    </ul> 



<p class="govuk-body">{{text.d}}</p>

    <p class="govuk-body">{{text.e}}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{text.p1}}</li>
      <li>{{text.p2}}</li>
      <li>{{text.p3}}</li>
      <li>{{text.p4}}</li>
      <li>{{text.p5}}</li>
    </ul> 
  



  {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ 
          govukButton({
            text: buttontxt,
            href: "/search-location",
            isStartButton: true
        }) 
        }}
<p class="govuk-body">{{text.f}} <a href="https://check-local-air-quality.defra.gov.uk/" class="govuk-link">{{text.i}}</a> {{text.j}}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{text.g}}</li>
  <li>{{text.h}}</li>

</ul> 
    </div>

    
    
</div> 

{% endblock %}

