@use "govuk-frontend" as *;



.app-main-wrapper {
  display: block;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(3);
}
.custable{
  position: relative;
    margin-top: -1px;
   margin-bottom: 0px;
}

.defra-aq-features {
  &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 0 15px;
      padding-bottom: 20px;
      box-shadow: inset 0 -1px 0 #b1b4b6;
      width: 100%;
  }

  &__item {
  width: 33.33%;
  box-sizing: border-box;
  padding: 15px 0;

  float: left;
  min-width: 6em;
  }

  &__key {
  margin: 0;
  font-size: 16px;
  color: #505a5f;
  }

  &__value {
  margin: 0 5px 0 0;
  font-size: 19px;
  }
}

.status-tag {
  margin-top: 0px; 
  padding: 6px 12px 6px 12px;
}
.status-description {
  margin-left: 5px; 
  display: inline-block; 
  color: #505a5f;
}

.aq-button-secondary {
  position: relative;
  display: inline-block;  
  width: auto;
  margin: 0px 0px 5px; 
  box-shadow: none;
  background-color: white;
  border: 1px solid govuk-colour('mid-grey');
  padding: 9px 10px 10px;
  outline: 3px solid transparent;
  cursor: pointer;
  color: $govuk-text-colour;
  text-decoration: none;
  &:visited {
  color: $govuk-text-colour;
  }
  &:hover {
      background-color: #dbdad9;
  }
  &:focus {
    background-color: $govuk-focus-colour;
    border-color: $govuk-focus-colour;
    box-shadow: 0 2px 0 govuk-colour('black') !important;
}
  &__icon {
      padding-left: 20px;
      svg {
          position: absolute;
          left: 10px;
          top: 50%;
          margin-top: -11px;
      }
  }
  &__text{
      color: #1d70b8;
  }
  
}
.defra-toggletip {

	&:first-child {
		display: inline-block;
	}
  display: inline-block;
  position: relative;

	&:not(.defra-toggletip-target) {
		padding-right: 26px;
	}

	&--open {
		z-index: 99;
	}

	&__container {
		position: absolute;
		top: -3px;
		@include mq ($from: tablet) {
			top: -1px;
		}
		right: 0;
		width: 26px;
		height: 26px;
	}

	&__button {
		position: absolute;
		top: 0;
		left: 0;
		width: 26px;
		height: 26px;
		
		border: 0;
		padding: 0;
		text-align: center;
		color: $govuk-text-colour;
		cursor: help;

		&-icon {
			pointer-events: none;
			position: absolute;
			overflow: visible;
			top: 5px;
			left: 5px;
			width: 16px;
			height: 16px;
			border-radius: 100%;
		}

		&-text {
			position: absolute ;
            width: 1px ;
            height: 1px ;
            margin: 0 ;
            padding: 0 ;
            overflow: hidden ;
            clip: rect(0 0 0 0) ;
            clip-path: inset(50%) ;
            border: 0 ;
            white-space: nowrap ;
           
            
		}

		svg {
			position: relative;
			margin: -1px 0 0 -1px;
		}

		&:hover, &:focus {
			color: govuk-colour('black');
		}

		&:hover span {
			box-shadow: 0 0 0 5px govuk-colour('light-grey');
		}

		&:focus {
			outline: 3px solid transparent;

			span {
				box-shadow: 0 0 0 1px govuk-colour('black'), 0 0 0 5px $govuk-focus-colour;
			}
		}
	}

	&__info {
		@include govuk-font($size: 16);
		cursor: auto;
		position:absolute;
		width:0;
		overflow: hidden;
		box-sizing: border-box;
		visibility: hidden;
		top: auto;
		bottom: 100%;
		left: 0;
		padding-bottom: 10px;
		text-align: left;
	}

	&__text {
		position: relative;
		display:block;
		box-sizing: border-box;
		padding: 7.5px 10px;
		color: govuk-colour('black');
		background: currentcolor;
		border: 2px solid currentcolor;
		z-index: 2;

	
	}

	&__arrow {
		position: absolute;
		box-sizing: border-box;
		z-index: 1;
		width: 10px;
		height: 10px;
		left: 50%;
		bottom: auto;
		top: 100%;
		margin: -15px 0 0 -5px;
		color: govuk-colour('black');
		border: 5px solid currentcolor;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	&--bottom &__info {
		bottom: auto;
		top: 100%;
		padding-top: 10px;
		padding-bottom: 0;
	}

	&--bottom &__arrow {
		bottom: 100%;
		top: auto;
		margin: 0 0 -15px -5px;
	}

	&--open &__info {
		visibility: visible;
		width:200px;
		overflow: visible;
	}

	&.defra-toggletip-target {
		cursor: help;
		border-bottom: 1px dashed govuk-colour('black');
		padding-bottom: 1px;
		outline: 3px solid transparent;

		&:focus, &:hover:focus-visible {
			border-bottom: 1px solid govuk-colour('black');
			box-shadow: 0 2px 0 govuk-colour('black'), 0 6px 0 govuk-colour('yellow');
		}

		&:focus:not(:focus-visible):not(:hover) {
			border-bottom: 1px dashed govuk-colour('black');
			box-shadow: none;
		}

		&:hover {
			border-bottom: 1px solid govuk-colour('black');
			box-shadow: 0 2px 0 govuk-colour('black');
		}
	}
}

// .defra-aq-levels-table {
//   //@extend govuk-table;
//   padding: 10px;
//   text-align: left;
//   vertical-align: top;
//   border-bottom: 1px solid #b1b4b6;
//   position: relative;
//   margin-top: -1px;
//   margin-bottom: 0px;
//   @include mq ($until: tablet) {
//     display: block;
//     margin-top: 30px;
//   }
//   &__head {
//     @include mq ($until: tablet) {
//       display: block;
//     }   
//   }
//   &__head tr {
//     @include mq ($until: tablet) {
//       display: flex;
//       flex-wrap: wrap;
//     }
//   }
//   &__head &__cell {
//     text-align: left;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     &--pollutant {
//       @include mq ($until: tablet) {
//         padding-top: 10px;
//       }
//     }
//   }
//   &__body {
//     @include mq ($until: tablet) {
//       display: block;
//     }
//   }
//   &__row {
  
//     border-bottom: 1px solid govuk-tint($govuk-border-colour, 0);
//     @include mq ($until: tablet) {
//       position: relative;
//       display: flex;
//       flex-wrap: wrap;
//       margin-bottom: -1px;
//     }
//   }
//   &__cell {
//  // @extend govuk-table__cell;
//  padding: 10px;
//  text-align: left;
//  vertical-align: top;
//  border-bottom: 1px solid #b1b4b6;
//    border-bottom: 0px;
//     vertical-align: middle;
//     text-align: left;
//     padding-left: 0px;
//     padding-right: 0px;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     @include mq ($until: tablet) {
//       display: inline-block;
//       padding-top:0px;
//       padding-bottom: 10px;
//     }
//     a {
//       display: inline-block;
//     }
//   }
//   &__cell--pollutant {
//     @include govuk-font($size: 19, $weight: bold);
//     width: 25%;
//     padding-right:20px;
//     @include mq ($until: tablet) {
//       padding-top:10px;
//       padding-bottom:25px;
//       padding-right: 0px;
//       width: 100%;
//     }
//   }
//   &__cell--pollutant-title {
//       padding-bottom: 10px;
//       // @include mq ($until: tablet) {
         
//       // }
//     }
//     &__cell--average-title {
//       padding-bottom: 10px;
//     }
//     &__cell--daily-title {
//       padding-bottom: 10px;
//     }
//     &__cell--hourly-title {
//       padding-bottom: 10px;
//     }
//   &__cell--average {
//     width: 15%;
//     text-align: right;
//     @include mq ($until: tablet) {
//       width: 30%;
//       text-align: left;
//       // flex: 1 1 1em;
//     }
//   }
//   &__cell--daily {
//       width: 30%;
//       text-align: right;
//       @include mq ($until: tablet) {
//         width: 35%;
//         // flex: 1 1 0.5em;
//       }
//     }
//   &__cell--hourly {
//     width: 30%;
//     text-align: right;
//     @include mq ($until: tablet) {
//       width: 35%;
//       // flex: 1 1 3.5em;
//     }
//   }
 
//   &__cell--data {
//       font-size: 16px; 
//       margin-top: 5px;
//       display: block;
//       font-weight: normal;
//       @include mq ($until: tablet) {
//           font-size: 14px;
//       }
//     }
// }


.moj-sub-navigation {
  margin-bottom: govuk-spacing(7);
}

.moj-sub-navigation__list {
  margin: 0;
  padding: 0;
  font-size: 0; 
  list-style: none;

  @include govuk-media-query($from: tablet) {
    width: 100%;
    box-shadow: inset 0 -1px 0 $govuk-border-colour;
  }
}

.moj-sub-navigation__item {
  display: block;
  margin-top: -1px;
  box-shadow: inset 0 -1px 0 $govuk-border-colour;
  @include govuk-font(19);

  &:last-child {
    box-shadow: none;
  }

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    margin-top: 0;
    margin-right: govuk-spacing(4);
    box-shadow: none;
  }
}

.moj-sub-navigation__link {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: govuk-spacing(3);
  @include govuk-link-common;
  @include govuk-link-style-default;

  @include govuk-media-query($from: tablet) {
    padding-left: 0;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:link,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus {
    position: relative; 
    color: govuk-colour("black"); 
    box-shadow: none;
  }

  &:focus::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: govuk-colour("black");

    @include govuk-media-query($from: tablet) {
      width: 100%;
      height: 5px;
    }
  }
}

.moj-sub-navigation__link[aria-current="page"] {
  position: relative;
  color: $govuk-link-active-colour;
  text-decoration: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $govuk-link-colour;

    @include govuk-media-query($from: tablet) {
      width: 100%;
      height: 5px;
    }
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus::before {
    background-color: govuk-colour("black");
  }
}
////////////////////////////// table ///////////////////////////////////
%govuk-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  font-family: "GDS Transport", arial, sans-serif;
  th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
  }

  th {
    font-weight: bold;
    border-bottom: 2px solid #b1b4b6;
  }

  td {
    border-bottom: 1px solid #b1b4b6;
  }

  &--striped tbody tr:nth-child(odd) {
    background-color: #f3f2f1;
  }

  &--bordered th, &--bordered td {
    border: 1px solid #b1b4b6;
  }
}
%govuk-table-cell {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #b1b4b6;
  font-family: "GDS Transport", arial, sans-serif;
}
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  display: none !important;
  // @include defra-visually-hidden();
}
.defra-aq-levels-table {
 // @extend %govuk-table;
  position: relative;
  margin-top: -1px;
  margin-bottom: 0px;
  @include mq ($until: tablet) {
    display: block;
    margin-top: 30px;
  }
  &__head {
    @include mq ($until: tablet) {
      display: block;
    }   
  }
  &__head tr {
    @include mq ($until: tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__head &__cell {
   
    padding-top: 10px;
    padding-bottom: 10px;
    &--pollutant {
      @include mq ($until: tablet) {
        @include visually-hidden;
       // @include defra-visually-hidden();
      }
    }
  }
  &__body {
    @include mq ($until: tablet) {
      display: block;
    }
  }
  &__row {
  //   border-top: 1px solid govuk-tint($govuk-border-colour, 0); //
    border-bottom: 1px solid govuk-tint($govuk-border-colour, 0);
    @include mq ($until: tablet) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -1px;
    }
  }
  &__cell {
  //  @extend %govuk-table-cell;
    border-bottom: 0px;
    vertical-align: middle;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include mq ($until: tablet) {
      display: inline-block;
      padding-top:0px;
      padding-bottom: 10px;
    }
    a {
      display: inline-block;
    }
  }
  &__cell--pollutant {
    @include govuk-font($size: 19, $weight: bold);
    width: 25%;
    padding-right:20px;
    @include mq ($until: tablet) {
      padding-top:10px;
      padding-bottom:25px;
      padding-right: 0px;
      width: 100%;
    }
  }
  &__cell--pollutant-title {
      padding-bottom: 10px;
      @include mq ($until: tablet) {
      //    @include defra-visually-hidden();
      }
    }
    &__cell--average-title {
      padding-bottom: 10px;
      text-align: right; 
      
    }
    &__cell--daily-title {
      padding-bottom: 10px;
      text-align: right; 
    }
    &__cell--hourly-title {
      padding-bottom: 10px;
      text-align: right; 
    }
  &__cell--average {
    width: 15%;
    text-align: right;
    @include mq ($until: tablet) {
      width: 30%;
      text-align: left;
     
    }
  }
  &__cell--daily {
      width: 30%;
      text-align: right;
      @include mq ($until: tablet) {
        width: 35%;
       
      }
    }
  &__cell--hourly {
    width: 30%;
    text-align: right;   
  }
 
  &__cell--data {
      font-size: 16px; 
      margin-top: 5px;
      display: block;
      font-weight: normal;
      @include mq ($until: tablet) {
          font-size: 14px;
      }
    }
}